#footer-wrapper {
    background-color: #333; /* Fondo gris oscuro */
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)); /* Efecto de degradado */
    padding: 3em 0; /* Ajustar la altura del fondo */
    color: #fff;
    text-align: left; /* Alinear todo el contenido a la izquierda */
}

#footer {
    margin-bottom: 0;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.5);
}

#footer h2 {
    font-size: 1.35em;
    color: #fff;
    text-align: left; /* Alinear los títulos a la izquierda */
}

#footer h3 {
    font-size: 1.15em;
    color: #fff;
    text-align: left; /* Alinear los títulos a la izquierda */
    margin-top: 6px;
}

#footer a {
    color: #acb2bf;
    text-decoration: none;
}

#footer a:hover {
    color: #fff;
    text-decoration: underline;
}

#footer ul {
    list-style: none;
    padding-left: 0;
}

#footer ul li {
    margin-bottom: 10px; /* Espacio entre los elementos de la lista */
}

#footer ul.menu li {
    display: inline-block;
    margin-right: 1.5em;
}

#footer dl.contact dt {
    color: #ddd;
}

#copyright {
    border-top: solid 1px #444;
    text-align: center;
    margin-top: 2em;
    padding: 3em 0 4em 0;
}

.certificaciones,
.social-icons {
    display: flex;
    gap: 15px;
    justify-content: flex-start; /* Alinear las imágenes y los íconos a la izquierda */
    align-items: center;
}

.certificaciones img,
.empresa-info img {
    width: 100px; /* Tamaño fijo para las imágenes */
    height: auto; /* Mantén la proporción de las imágenes */
}

.empresa-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.social-icons a {
    font-size: 1.5em;
    color: #acb2bf;
}

.social-icons a:hover {
    color: #fff;
}

/* Responsive CSS */
@media (max-width: 1024px) {
    #footer-wrapper {
        padding: 2.5em 1em;
    }

    .row {
        flex-direction: column;
        align-items: center;
    }

    .col-3 {
        width: 100%;
        margin-bottom: 2em;
    }
}

@media (max-width: 768px) {
    #footer-wrapper {
        padding: 2em 1em;
    }

    .certificaciones {
        flex-direction: column;
        align-items: center;
    }

    .empresa-info {
        margin: 0 auto;
        text-align: left;
    }

    .social-icons {
        justify-content: center;
    }
}

@media (max-width: 480px) {
    #footer-wrapper {
        padding: 1.5em 0.5em;
    }

    .social-icons {
        flex-direction: column;
        gap: 5px;
        align-items: center;
    }

    .empresa-info {
        align-items: center;
        text-align: center;
    }

    .empresa-info img {
        width: 60px;
    }

    .col-3 {
        text-align: center;
    }
}
